@import 'variables.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'home.scss';
@import 'about.scss';
@import 'skills.scss';
@import 'projects.scss';
@import 'contact.scss';
@import 'responsive.scss';

// ESTILOS GLOBALES

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    font-family: $font-principal;
}






